[submodule "tools/ops/portainer"]
	path = tools/ops/portainer
	url = https://github.com/rajasoun/portainer

[submodule "docs/tracker/themes/hugo-theme-learn"]
	path = docs/tracker/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn

